body{
  color: rgb(3,75,145);
  font-family: sans-serif;
}
h2{
  text-align: center;
  font-family: serif;
}
form{
  margin: 8px;
  line-height: 30px;
}
#nota{
  line-height: normal;
}
.seccion1, .seccion2{
  line-height: 20px;
  padding: 10px;
  margin-bottom: 10px;
  border-style: ridge;
  border-width: 3px;
  border-color: rgb(193,147,0);

}
.seccion2-2{
  float: right;
  background-color: yellow;
}
.seccion2-1{
  float: left;
  background-color: yellow;
}
